{% block footer %}

<section id="footer bottom-0">
    <hr>

    <div class="icons-sm">
        <a href="https://www.facebook.com/wassim.bencebte" class="i1"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="https://x.com/WassimeAhmed" class="i1"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="https://github.com/wassime-first" class="i1"><i class="fa-solid fa-envelope"></i></a>
    </div>
    <p>© Copyright <i><b>Wassime Ben 2025</b></i></p>
</section>
{% endblock %}
