{% block header %}
<nav style="padding:0" class="c sticky-top navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('discover', page=1, content='movie') }}">Wassim</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto  ">
                <a class="nav-link active" aria-current="page" href="{{ url_for('discover', page=1, content='movie') }}">Home</a>
                <a class="nav-link " href="{{ url_for('logout') }}">Logout</a>
                <a class="nav-link" href="{{ url_for('add') }}">Search</a>
                <ul>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            my collection
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('movie') }}">Movies</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('tv') }}">TV</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('actor') }}">Actors</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('model') }}">+18</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('custom') }}" >Custom </a></li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

{% endblock %}